[Desktop Entry]
Type=Application
Name=nixalarm
GenericName=Alarm Clock
Comment=Seven-segment Linux alarm clock
Exec=nixalarm
Icon=preferences-system-time
Terminal=false
Categories=Utility;Clock;
Keywords=alarm;clock;timer;weather;NOAA;
